<!DOCTYPE html>
<html ng-app="blogApp">
<head>
<meta charset="UTF-8">
<title>BLOG OVERFLOW </title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>-->

<script src="angular.js"></script>
<script type="text/javascript" src='angularBlog.js'></script>
<link rel='stylesheet' 
href='blog.css'/>
</head>
<body background="blog_cloud.bmp" >
  
	<header>
   <h1>Blog Overflow</h1>
</header>
	
	<hr />
	<ul class="top_bar">
	  	<li id="LogoutTab" ><a href="#Logout" id="logout" class="top_tab">Logout</a></li>
		<li id="greet_user" class="greetUser">Welcome <div id="logged_user"></div></li>
  		<li id="LoginTab"><a href="#Login" id="login"  class="top_tab">Login</a></li>
  		<li id="RegisterTab"><a href="#Register" id="register"  class="top_tab">Register</a></li>
  		<li id="HomeTab"><a href="#Home" id="home" class="top_tab">Home</a></li>
  		<li id="searchForm">
  		<div ng-controller="BlogListController">
  		<!-- <input class="button" type="submit" id="Search" value="Search"></li> -->
  		 <form ng-submit='searchBlogs()' id='search_form' class="search_form">
			 <!-- <input ng-model="searchString" > -->
			 <input type='text' id='searchString' name='searchString placeholder='Search Blogs'>
			 <input class="button" type="submit" id="search" value="search">
			 <!--  <a href="#Search" id="search" class="top_tab">Search</a>-->
		</form>
		</li>
		</div>
	</ul>



	<div id="resMsg"></div>

 <nav id = nav1>
  <div id="registerForm" class="register_page">
    <div class="content">
 	<form id="register-form" method="post">
 	<table>
   	<tr>
   	<td>Email:</td>
  	<td  align="right"><input type="text" id='email' name="email" placeholder="Enter Username"><br/></td>
  	</tr>
  	<tr>
   	<td>First Name:</td>
  	<td  align="right"><input type="text" id='firstName' name="firstName" placeholder="Enter First Name"><br/></td>
  	</tr>
	<tr>
  	<td>Last Name:</td>
  	<td  align="right"><input type="text" id='lastName' name="lastName" placeholder="Enter Last Name"><br/></td>
  	</tr>
	<tr>
  	<td>Password:</td>
  	<td  align="right"><input type="password" id='password' name="password" placeholder="Enter Password"><br/></td>
  	</tr>
  	<tr>
  	<td>Re-enter Password:</td>
  	<td  align="right"><input type="password" id='password2' name="password2" placeholder="Confirm Password"><br/></td>
  	</tr>
	<tr>
	<td>Category:</td>
  	<td  align="right"><input type="text" id='interestCategory' name="interestCategory" ><br/></td>
  	</tr>
  <!-- <div class="dropdown">
  <button class="dropbtn">Category</button>
  <div class="dropdown-content">
    <a href="#">Cloud Computing</a>
    <a href="#">J2EE</a>
    <a href="#">Unix</a>
    <a href="#">DevOps</a>
  </div> 
</div>-->
	<tr align="right">
	<td></td>
	<td><input  class="button" type="submit" id="Register" value="Register"></td>
	</tr>
   </table>
   </form>
   </div>
   </div>
   
      
</nav>

	
	 <nav id = nav2>
	<div id="loginForm" class="login_page">
	<div class="content">
    <form id="login-form" method="post">
    <table>
    <tr>
    	<td>Email:</td>
  		<td  align="right"><input type="text" id='email1' name="email1" placeholder="Enter Username"><br/></td>
  		</tr>
  		<tr>
  		<td>Password:</td>
  		<td  align="right"><input type="password" id='password1' name="password1" placeholder="Enter Password"><br/></td>
  		</tr>
  		<tr align="right">
  		<td></td>
    	<td><input  class="button" type="submit" id="Login" value="Login"><br/><br/></td>
    	</tr>
    	<tr>
    	<td><a href="#" id="register_link">Register</a></td>
    	<td align="right"><a href="#" id="forgot_password">Forgot password</a>  </td>   
    	</tr>
    	</table>
     </form>
      
	</div>
	</div>
	</nav>
	
	
	<div id="blogForm" class="blog_form">
	    <form id="Blog-form" method="post">
    <table>
    <tr>
    	<th>Create Blog</th></tr>
  		<tr>
  		<td  align="center"><input type="text" size="80" id='blog' name="blog" placeholder="Give it a name!"><br/></td>
  		</tr>
  		
  		<tr align="center">
  		<td><textarea id='content' name="content" placeholder="Tell us what you know!"></textarea><br/></td>
  		</tr>
  		<tr align="right">
    	<td><input class="button" type="submit" id="blog_post" value="Post"></td>
		<td><input class="button" type="submit" id="blog_clear" value="Cancel"></td>
    	</tr>
    	</table>
     </form>
     </div>
	 <br>
	 
	 <table class="transparant" ng-controller="BlogListController">
	 
	 <td class ="top_cat" id="display_top_blogs">
	 <tr ng-repeat='blog in blogList'>
	 <ul>
	
	 <li> 
	 <a ng-href='#' id="view_blog" ng-click='viewBlog(blog.blogId)' >{{blog.blogHeading}}</a>
	 <!--  <input class='button' id="view_blog" ng-click='viewBlog(blog.blogId)' name='{{blog.blogHeading}}' value='{{blog.blogHeading}}' >-->
	 </li><br/>
	 </ul>
	 </tr>
	 </td>
	 
	 
	 <td class="blogs" id="display_blogs">
	 <tr ng-repeat='blog in blogList'>
	 <td><span style="font-weight:bold">{{blog.blogHeading}}</span></td>
	 <td><span style="font-weight:italic"> <tab1>-by {{blog.userName}}</tab1></span></td>
	 <td align="right">{{humanTime}}</td><br/>
	 <td>{{blog.blogString}}</td>
	 </tr><br/>						  	
	 </td>
	 
	 <td class="blogs" id="search_blogs">
	 <!-- 
	 <tr ng-repeat='blog in searchList'>
	 <td><span style="font-weight:bold">{{blog.blogHeading}}</span></td>
	 <td><span style="font-weight:italic"> <tab1>-by {{blog.userName}}</tab1></span></td>
	 <td align="right">{{humanTime}}</td><br/>
	 <td>{{blog.blogString}}</td>
	 </tr><br/>		 
	 -->				  	
	 </td>
	 
				        
	 <td class="msg" id="view_message">
	 </td>
	 
	 <td class="msgs" id="display_messages">
	 <tr ng-repeat='message in messageList'>
	 <td><span style="font-weight:bold">{{message.userName }}</span></td>
	 <script>var humanTime = unixTimeToHumanTime({{message.timestamp}})</script>
	 <td align="right">{{humanTime}}</td><br/>
	 <td>{{message.message}}</td>
	 </tr><br/>
	
	 </tr>
	 </table>
	 
	 <div id="commentForm" class="comment_form">
	    <form id="Comment-form" method="post">
	    <input type="text" size="100" id='comment' name="comment" placeholder="Type a comment"/>
	    <input class="button" type="submit" id="comment_box" value="Comment">
	    </form>
	  </div>
	 <div id="chatForm" class="chat_form">
	    <form id="Chat-form" method="post">
	    <input type="text" size="40" id='chat' name="chat" placeholder="Type a message!"/>
	    <input class="button" type="submit" id="chat_box" value="Send">
	    </form>
	  </div>
	
</body>
</html>